.btn-novo-cadastro {
  // margin-left: 20px!important;
  margin: 0 auto!important;
}

// .btn-search-margin {
//   margin-bottom: 10px;
//   margin-top: -5px;
// }
.conteudo-footer{
display: flex;
justify-content: space-between;
align-items: self-start;
padding-left: 10px;
padding-right: 10px;
}
